In [2]:
'''1 Write a Python function to accept a string value from the user and display the
count of each character in that string. Sample input: Enter a string value:
assembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1'''

'Write a Python function to accept a string value from the user and display the\ncount of each character in that string. Sample input: Enter a string value:\nassembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1'

In [26]:
string = input("Enter a string: ")
lst1 =['a','b','s','m','e','l']
for char in string:
  lst1.append(char)
for item in lst1:
    print(item,string.count(item), sep  = ",")

Enter a string: 3
a,0
b,0
s,0
m,0
e,0
l,0
3,1

In [64]:
'''2 Write a Python function to find the maximum of three numbers Sample input:
34,12,7 Sample output: 34'''

'2 Write a Python function to find the maximum of three numbers Sample input:\n34,12,7 Sample output: 34'

In [67]:
def max_num(x,y,z):

  if (x >=y) and (x >=z):
    return x
  elif (y>=x) and (y>=z):
    return y
  else:
    return z

In [68]:
x=34
y=12
z=7
print(max_num(x,y,z))

34

In [51]:
'''5 Write a Python program which iterates from 1 to 10. For multiples of 2, print
“Fizz” instead of the number and for the multiples of 5, print “Buzz”. For
numbers which are multiples of both 2 and 5, print “FizzBuzz”. Sample input:
numbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz Fizz 7 Fizz 9
FizzBuzz'''

'Write a Python program which iterates from 1 to 10. For multiples of 2, print\n“Fizz” instead of the number and for the multiples of 5, print “Buzz”. For\nnumbers which are multiples of both 2 and 5, print “FizzBuzz”. Sample input:\nnumbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz Fizz 7 Fizz 9\nFizzBuzz'

In [57]:
for i in range(1, 11):
    if i % 2 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 2 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

In [58]:
'''4 Write a Python function that takes a positive integer and returns the sum of
the cube of all the positive integers smaller than the specified number.
Sample input: 4 Sample output: 36.'''

'4 Write a Python function that takes a positive integer and returns the sum of\nthe cube of all the positive integers smaller than the specified number.\nSample input: 4 Sample output: 36.'

In [99]:
def cube(x):
  sum=0
  x**3



n=int(input("enter a positive integer"))
print('output =',cube(n))

enter a positive integer4
output = None

In [81]:
'''3 Write a Python function called exponent(base,exp) that returns an integer
value of base raises to the power of exp. Sample input: Enter the base: 2
Enter the exponent: 3 Sample output: 8 '''

'3 Write a Python function called exponent(base,exp) that returns an integer\nvalue of base raises to the power of exp. Sample input: Enter the base: 2\nEnter the exponent: 3 Sample output: 8 '

In [106]:
def exponent (base,exp):
  integer=1
  for i in range(exp):
      integer*=base
  return integer

In [108]:

  base=int(input('enter the base'))
  exp=int(input('enter the exponent '))
  print(exponent(base,exp))

enter the base2
enter the exponent 3
8

In [110]:
'''6 Write a Python function to find the most frequent item in a list of numbers.
Sample input: 2, 3, 4, 2, 5, 2 Sample output: 2 '''

'6 Write a Python function to find the most frequent item in a list of numbers.\nSample input: 2, 3, 4, 2, 5, 2 Sample output: 2 '

In [131]:
def fre_num(list1):

    count_dict = dict()
    for item in list1:
        if item in count_dict:
            count_dict[item] += 1
        else:
            count_dict[item] = 1
    fre_num_item = None
    highest_count = 0
    for item, count in count_dict.items():
        if count > highest_count:
            fre_num_item = item
            highest_count = count
    return fre_num_item

In [130]:
list1 = [2, 3, 4, 2, 5, 2]
fre_num_item = fre_num(list1)
print(f"The most fre item is: {fre_num_item}")

The most fre item is: 2

In [112]:
'''7 Write a Python function to find the sum of squares of the numbers in a list.
Sample input: 2,1,3,1 Sample output: 15 '''

'7 Write a Python function to find the sum of squares of the numbers in a list.\nSample input: 2,1,3,1 Sample output: 15 '

In [143]:
def sum_of_squr(numbers):
  sum_of_squr = 0
  for number in numbers:
    sum_of_squr += number * number
  return sum_of_squr
numbers = [2,1,3,1]
result = sum_of_squr(numbers)
print(f" the sum of squr of the numbers in  list is: {result}")

 the sum of squr of the numbers in  list is: 15

In [122]:
'''8 Write a Python program using for loop that will iterate from 1 to 15. For each
iteration, check if the current number is odd or even, and display the message
to the screen as odd or even. Sample input: 1….15 Sample output: 1-odd 2-
even …. 15-odd '''

'8 Write a Python program using for loop that will iterate from 1 to 15. For each\niteration, check if the current number is odd or even, and display the message\nto the screen as odd or even. Sample input: 1….15 Sample output: 1-odd 2-\neven …. 15-odd '

In [135]:
for i in range(1,16):
  if i%2==0:
    print(i,'even')
  else:
    print(i, 'odd')

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
11 odd
12 even
13 odd
14 even
15 odd

In [133]:
''' 9 Write a Python function to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit =41
Sample output: Temperature in Celsius =5 '''

' 9 Write a Python function to convert temperatures to and from Celsius\nFahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=\ntemperature in Fahrenheit.] Sample input: Temperature in Fahrenheit =41\nSample output: Temperature in Celsius =5 '

In [139]:
def floot(cel_far):
   return (cel_far/5)
    def floot(far_cel):
       return (far_cel-(32/9))

IndentationError: unexpected indent (<ipython-input-139-a9dff5778e9b>, line 3)

In [136]:
'''10 Write a Python function to calculate the factorial of a number (a nonnegative
integer). The function accepts the number as an argument. Sample input: 3
Sample output: 6 '''

'Write a Python function to calculate the factorial of a number (a nonnegative\ninteger). The function accepts the number as an argument. Sample input: 3\nSample output: 6 '

In [142]:
import math
number=int(input("Enter the number"))
def fat(n):
  if n>1:
    fat=math.factorial(n)
    return fat
  else:
    return("invalead input")

print(fat(number))

Enter the number4
24

In [ ]:
'''11.Case Study: Grade Calculator
In this case study, you have to create a program that calculates the final
grade for a student based on their scores in different assessments. The
program will take input from the user, perform calculations, and display the
final grade along with additional information.
Requirements:
1. The program should prompt the user to enter the following information:
• Student's name
• Number of assessments (e.g., assignments, quizzes, exams)
• Weight (percentage) of each assessment type
2. For each assessment type, the program should ask the user to enter:
• Number of assessments of that type
• Score obtained for each assessment.
3. The program should calculate the weighted average score for each
assessment type.
4. The program should then calculate the final grade using the weighted
average scores and the weights provided by the user.
5. The program should display the following information:
• Student's name
• Weighted average score for each assessment type
• Final grade
• Letter grade based on a grading scale (e.g., A, B, C, D, F)
6. The program should have a function to determine the letter grade based
on the final grade.'''